extends layout

block content
  .Bandeau
  section.small-12.medium-12.large-12.columns  
    img(src='../src/images/Bandeau.png', style='margin-bottom: 5px')
    section.section
      .top-border
        .row
        .large-12
          #nav-under
              ul.inline-list-custom
                li
                  a.current(href='/users/:idUser') Profil
                li
                  a(href='/photos') Galerie Photos
                  .top-border
    section#blocks_user
      #container_user_profil
        .user_profil_datas

      
          .user_img
            i.fa.fa-info-circle(style='font-size:100px;')
            
          .user_datas
            .field
              h1 #{user.firstname} #{user.lastname} 
              span
                i.fa.fa-user  #{user.username} 
              span
                i.fa.fa-envelope  #{user.mail}

          .user_btn
              button#btnEdit(onclick='updateUser()') MODIFIER
              button#btnDelete(onclick='delUser(#{user.id})') SUPPRIMER
              
      #container_user_trek
        ul
          - for trek in user.treks
            li
              .thumbnail
                .thumbnail-img
                  .thumbnail-hover
                img(src='../src/images/beach-2179624_1920.jpg')
                .thumbnail-caption
                a.caption-link(href="../treks/" + "#{trek.id}") #{trek.label}
    #chevron
      .backToTop
            p.back-to-top-holder
            a.back-to-top
                a(href='#', Title="Retour en haut")
                    i.fa.fa-chevron-circle-up.fa-3x

  
  script(src="/src/ajax.js")
  script(src="/src/loadUsers.js")
